<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/register.css">
        <title>New Plan</title>
    </head>
    <body>
        <form action="/backoffice/new_plan" method="post" id="form_id">
            <header class="form-header">New Plan</header>

            <label>Points</label>
            <input class="points" type="number" name="points" required><br>

            <label>Cost(USD)</label>
            <input class="cost" type="number" name="cost" required><br>

            <label>Plan Name</label>
            <input class="name" type="text" name="name" required><br>

            <input type="submit" class="button2" style="width: 100%;" onclick='save(); this.disabled = true; this.setAttribute("style", "color: #ccc");' value="Submit">

        </form>

        <a href="{{ url_for('new_plan') }}" class="button2" style="width: 96.5%;">Try again</a>

        <script>
            function save() {
                document.getElementById("form_id").submit();
            }
        </script>
    </body>
</html>