<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/sent_sms.css">
        <title>Buy Points</title>
    </head>
    <body>
        <h1>Choose the plan you want to buy</h1>

        <table>
            <tr>
                <td>Plan</td>
                <td>You get</td>
                <td>Price</td>
                <td>Buy</td>
            </tr>

            {% for plan in plans %}
                <tr>
                    <td>{{ plan.name }}</td>
                    <td>{{ plan.points }}</td>
                    <td>{{ plan.cost }} USD$</td>
                    <td><a href="{{ url_for('plan_checkout', id=plan.id) }}" class="button2">Buy now</a></td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ url_for('home') }}" class="button1">Go back home</a>
    </body>
</html>