<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/register.css">
        <title>Verify mail</title>
    </head>
    <body>
        <form action="/verification/send_again" method="post" id="form_id">
            <header class="form-header"><h1>Looks like your e-mail is not verified. <br> Send verification email:</h1></header>

            <label>E-mail</label>
            <input class="email" type="email" name="email" placeholder="Enter your e-mail" required><br>

            <input type="submit" class="button2" style="width: 100%;" onclick='save(); this.disabled = true; this.setAttribute("style", "color: #ccc");' value="Submit">

        </form>

        <a href="{{ url_for('verification_send') }}" class="button2" style="width: 96.5%;">Try again</a>
        <a href="{{ url_for('home') }}" class="button3" style="width: 96.5%;">Cancel</a>

        <script>
            function save() {
                document.getElementById("form_id").submit();
            }
        </script>
    </body>
</html>