<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='register.css') }}">
        <title>Send WhatsApp Message</title>
    </head>
    <body>
        <form action="/send_whatsapp" method="post" id="form_id">
            <header class="form-header">Send WhatsApp Message</header>

            <label>From</label>
            <input class="from" type="text" name="from" placeholder="How will you be presented to the reciever" required><br>

            <label>Reciever's Phone number in given format</label>
            <input class="phone-number" type="text" name="phone-number" placeholder="+35989***" value="{{ reciever }}" required><br>

            <label>Message</label>
            <input class="message" type="text" name="message"><br>

            <input type="submit" onclick='save(); this.disabled = true; this.setAttribute("style", "color: #ccc");' value="Submit">

        </form>

        <script>
            function save() {
                document.getElementById("form_id").submit();
            }
        </script>
    </body>
</html>