<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/sent_sms.css">
        <title>Previous SMS</title>
    </head>
    <body>
        <h1>You are logged in as {{ user.username }}</h1>

        <table>
            <tr>
                <td>Reciever</td>
                <td>Message</td>
                <td>Send Date</td>
                <td>Status</td>
            </tr>

            {% for message in messages %}
                <tr>
                    <td>{{ message.reciever }}</td>
                    <td>{{ message.message }}</td>
                    <td>{{ message.sendDate }}</td>
                    <td>{{ message.status }}</td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ url_for('home') }}" class="button1">Go back home</a>
    </body>
</html>