<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/sent_sms.css">
        <title>Previous SMS</title>
    </head>
    <body>
        <h1>You are logged in as {{ user.username }}</h1>
        <div class="messages">
            {% for message in messages %}
                <div class="message" style="width: 20%;">
                    <h3>Reciever: {{ message.reciever }}</h3>
                    <p>Message: {{ message.message }}</p>
                    <h3>Sent on: {{ message.sendDate }}</h3>
                </div>
            {% endfor %}
        </div>

        <a href="{{ url_for('home') }}" class="button1">Go back home</a>
    </body>
</html>