<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/register.css">
        <title>Update {{ contact.contactName }}</title>
    </head>
    <body>
        <form action="/update_contact/{{ contact.id }}" method="post" id="form_id">
            <header class="form-header"><h1>Update your contact</h1></header>

            <label>Contact name</label>
            <input class="name" type="text" name="name" placeholder="How will be this contact displayed" value="{{ contact.contactName }}" required><br>

            <label>Contact phone</label>
            <input class="phone-number" type="text" name="phone-number" placeholder="+35989***" value="{{ contact.reciever }}" required><br>

            <input type="submit" onclick='save(); this.disabled = true; this.setAttribute("style", "color: #ccc");' value="Submit">

        </form>

        <script>
            function save() {
                document.getElementById("form_id").submit();
            }
        </script>
    </body>
</html>