<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/sent_sms.css">
        <title>My payments</title>
    </head>
    <body>
        <h1>These are your contacts:</h1>

        <div class="payments">
            {% for payment in payments %}
                <div class="payment" style="width: 20%;">
                    <h3>{{ payment.plan }}</h3>
                    <p>Cost: {{ payment.bill }}.00 USD $</p>
                    <p>Bought on: {{ payment.payDate }}</p>
                    <p>Status: {{ payment.status }}</p>
                </div>
            {% endfor %}
        </div>

        <a href="{{ url_for('home') }}" class="button3">Go back home</a>
        <a href="{{ url_for('payment_form') }}" class="button1">Create new payment</a>
    </body>
</html>