<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/sent_sms.css">
        <title>My contacts</title>
    </head>
    <body>
        <h1>These are your contacts:</h1>

        <table>
            <tr>
                <td>Contact Name</td>
                <td>Reciever</td>
                <td>Method</td>
                <td>Send Again</td>
                <td>Update Contact Info</td>
            </tr>

            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.contactName }}</td>
                    <td>{{ contact.reciever }}</td>
                    <td>{{ contact.method }}</td>
                    <td><a href="{{ url_for('send_message_from_contacts', reciever=contact.reciever, method=contact.method) }}" class="button2">Send again</a></td>
                    <td><a href="{{ url_for('update_contact', id=contact.id) }}" class="button5">Update contact info</a></td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ url_for('home') }}" class="button1">Go back home</a>
        <a href="{{ url_for('new_contact') }}" class="button2">Create new contact</a>
    </body>
</html>