<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>Division Form</title>
    </head>
    <body>
    	<form class="adding-form" action="/divide_form" method="post">
	    	<header class="form-header">Divide two numbers</header>
          <div class="form-elements">
            <input class="username" type="text" name="username" placeholder="Enter your username" required><br>
            <input class="dividend" type="number" name="dividend" placeholder="Enter dividend" required><br>
            <input class="divisor" type="number" name="divisor" placeholder="Enter divisor" required><br>
          </div>
          <div class ="sign-button">
            <button type="submit" value="Sign">Submit</button>
          </div>
      </form>
    </body>
</html>